.container{
    width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
    height: 565px;
    
}

.container div{
    width: 100%;
    position: absolute;
    transition: 1s;
    transform: translateX(100%);
}

.container div img{
    width: 100%;
}

.container div.ativa{
    transform: translateX(0);
}

